@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Space Grotesk", sans-serif;
}
body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #c58940;
	cursor: pointer;
}


div.sticky {
  position: sticky;
  width : 100%;
  bottom: 0;
  background-color: whitesmoke;
  padding: 50px;
  font-size: 20px;
}

header[role="banner"] {
	#logo-main {
	  display: block;
	  margin: 20px auto;
	}
  }
  
  #navbar-primary.navbar-default {
	background: transparent;
	border: none;
	.navbar-nav { 
	  width: 100%;
	  text-align: center;
	  > li {
		display: inline-block;
		float: none;
		> a {
		  padding-left: 30px;
		  padding-right: 30px;
		  }
	  }
	}
  }