
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Space Grotesk", sans-serif;
}
body {
	margin: .25;
	padding: 1%;
	font-family: "Poppins", sans-serif;
}
#logo{
	display: block;
	width: 50%;
}

#navbar-primary {
	top: 15px;
font-size: 100%;
display: inline;
border-radius: 3%;

}




#mullet  {
	top:30%;
border-radius: 25%;
position : absolute;
width : 75%;
display:block;

}


#scissors  {
	top: 7%;
border-radius: 25%;
display: inline;
position: relative;

}
.modal img{
	
	border-radius: 5%;
	position : relative;
	width : 30%

}

h1{
	color: #0D98BA;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 100%;
	font-weight: bold;
	top: 5%;
	text-justify: left;
	display:block;

}


.modal{
	width :40%;
	height : 25%;
	background-color: whitesmoke;
	border-radius: 10%;
	border-width: 3px;
	box-shadow: 10px 5px 5px darkgrey;
	position: absolute;
	display: inline;
	margin: 15% 0 0 60%;
	padding: 3%;
}
